@import '../colors.scss';
@import '../variables.scss';
@import '../components.scss';


.file-info-container {
    border-radius: $border-radius-big;
    background-color: $bg-blue;
    padding: 1.25rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    header {
        .id-row {
            display: flex;
            flex-direction: row;
            
            .file-type-icon {
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;
                left: 1156px;
                top: 181px;
                background: $red;
                border-radius: 2px;
                margin: auto 0;
                margin-right: 1rem;
            }

            .file-name {
                color: $dark-font;
                font-size: 1.25rem;
                margin: auto 0;
                height: 100%;
                word-break: break-all;
            }

            .file-size {
                margin: auto;
                margin-right: 0;
                vertical-align: bottom;
            }
        }

        .file-last-mod {
            font-size: 0.75rem;
            color: $light-font-2;
            margin: 0;
            margin-top: .3rem
        }
    }

    .action-buttons {
        margin-top: 2rem;

        .action-btn {
            background-color: transparent;
            border: 0;
            display: flex;
            margin: 0.8125rem auto;

            label {
                margin-left: 1rem;
            }

            &:hover, & > *:hover {
                cursor: pointer;
            }

            &.delete-btn > label {
                color: #DA3D3D;
            }
        }

        .separator {
            width: 80%;
            height: 1px;
            background-color: #C5D0D7;
            margin: auto;
        }


        .rename-field-container {
            display: flex;
            flex-direction: row;
            filter: drop-shadow($box-shadow);
            border: 1px solid #4e9e3f;
            border-radius: .4rem;

            .rename-field {
                width: calc(100% - 3rem);
                height: 1rem;
                font-size: 0.875rem;
                margin: .5rem;
            }

            .confirm-btn {
                background-color: #4e9e3f;
                width: 2rem;
                min-width: 2rem;
                border-top-right-radius: $border-radius-small;
                border-bottom-right-radius: $border-radius-small;
                position: relative;
                transition: .2s;
                
                &:hover {
                    cursor: pointer;
                    opacity: .85;
                }

                img {
                    display: block;
                    margin: auto;
                    position: relative;
                }
                
            }
        }
    }
}