@import '../colors.scss';
@import '../variables.scss';
@import '../components.scss';

.modal-title {
    font-size: 2rem;
    color: $dark-font;
    margin-bottom: 1.5rem;
}

.file-input {
    width: 400px;
}


.modal-actions {
    display: flex;
    flex-direction: row;

    .status-label {
        margin: auto 0;
        margin-left: auto;
    }
}
