@import '../colors.scss';
@import '../variables.scss';

.actions-popup-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    left: 100%;
    background-color: white;
    border-radius: 5px;
    margin-left: .5rem;
    padding: .5rem;
    z-index: 999;
    filter: drop-shadow($box-shadow);

    .popup-action-btn {
        background-color: transparent;
        border: 0;
        display: flex;
        margin: 0.3rem auto;

        &:hover, & > *:hover {
            cursor: pointer;
        }

        &.delete-btn {
            color: #DA3D3D;
        }
    }
}