@import '../colors.scss';
@import '../variables.scss';

.actions-popup-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    left: 100%;
    background-color: white;
    border-radius: 5px;
    margin-left: .5rem;
    padding: .5rem;
    z-index: 999;
    filter: drop-shadow($box-shadow);

    .popup-action-btn {
        background-color: transparent;
        border: 0;
        display: flex;
        margin: 0.3rem auto;

        &:hover, & > *:hover {
            cursor: pointer;
        }

        &.delete-btn {
            color: #DA3D3D;
        }
    }

    .rename-field-container {
        display: flex;
        flex-direction: row;
        filter: drop-shadow($box-shadow);
        border: 1px solid #4e9e3f;
        border-radius: .4rem;

        .rename-field {
            width: 100px;
            height: 1rem;
            font-size: 0.875rem;
            margin: .5rem;
        }

        .confirm-btn {
            background-color: #4e9e3f;
            width: 2rem;
            border-top-right-radius: $border-radius-small;
            border-bottom-right-radius: $border-radius-small;
            position: relative;
            
            &:hover {
                cursor: pointer;
            }

            img {
                display: block;
                margin: auto;
                margin-top: .9rem;
                position: relative;
            }
            
        }
    }
}