$primary-blue: #5864FF;
$bg-blue: #F6F8FB;

$red: #DF7474;
$yellow: #FFD646;
$blue: #48BCFD;
$light-blue: #DDEAFD;

$dark-font: #333a64;
$light-font: #bbbff0;
$table-header-font: #878fa4;
$light-font-2: #6b7577;
$light-blue-font: #7078A8;

$box-shadow: 0px 2px 10px #6a85ad36;
$box-shadow-strong: 0px 2px 10px #6a85ad52;
$box-shadow-hover:  0px 2px 20px 4px #6a85ad69;